aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
black==25.1.0
bleach==6.2.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
datasets==3.5.0
dill==0.3.8
ecdsa==0.19.1
fastapi==0.115.12
filelock==3.18.0
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.30.2
idna==3.10
joblib==1.4.2
loguru==0.7.3
multidict==6.4.2
multiprocess==0.70.16
mypy-extensions==1.0.0
numpy==2.2.4
ollama==0.4.7
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.7
propcache==0.3.1
pyarrow==19.0.1
pyasn1==0.4.8
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.4.0
pytz==2025.2
PyYAML==6.0.2
ragstack==0.0.1
redis==5.2.1
regex==2024.11.6
requests==2.32.3
rsa==4.9
ruff==0.11.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
starlette==0.46.1
tenacity==9.1.2
threadpoolctl==3.6.0
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.51.1
typing-inspection==0.4.0
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.3.0
uvicorn==0.34.0
watchfiles==1.0.5
webencodings==0.5.1
websockets==15.0.1
win32_setctime==1.2.0
xxhash==3.5.0
yarl==1.19.0
